@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito&family=Playfair+Display:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F9FAFF;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #25282B;
    font-family: 'Comfortaa', sans-serif;
}
a:visited {
    color: #25282B;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
}
header a:hover {
    color: #4935fd;
}
.right-link-container {
    display: flex;
    gap: 50px;
}
.right-link-container .right-link {
    font-family: 'Raleway', sans-serif;
}
.hero-text {
    margin-left: 120px;
    max-width: 486px;
}
.ht1 {
    margin-top: 80px;
    color: #4935fd;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.ht2 {
    color: #25282B;
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    margin-top: 12px;
    margin-bottom: 32px;
}
.ht3 {
    color: #828282;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-bottom: 32px;
}
.button-container {
    display: flex;
    gap: 12px;
}
.hero-button {
    padding: 8px 24px;
    border-radius: 10px;
    box-shadow: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.b1 {
    background-color: #5e72f3;
    border: none;
}
.b2 {
    background-color: #F9FAFF;
    border: 2px solid;
}
.profile-image {
    max-width: 720px;
    height: auto;
}
.hero {
    display: flex;
    justify-content: space-between;
}
.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.card-section-title {
    font-size: 48px;
    color: #25282B;
    font-family: 'Playfair Display', serif;
}
.rectangle {
    width: 100px;
    height: 4px;
    background-color: #4935fd;
    border-radius: 2px;
}
.card-container {
    display: flex;
    margin-top: 80px;
    box-shadow: 1px 1px 30px rgb(233, 233, 233);
    border-radius: 15px;
    margin-bottom: 145px;
    /* put shadow */
}
.card-text {
    width: 496px;
    height: 524px;
    background-color: #FFFFFF;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-contain {
    padding: 50px;
}
.card-contain p { 
    margin-bottom: 35px;
}
.project-title {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}
.project-desc {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #828282;
}
.card-contain button {
    border: 1px solid black;
    padding: 15px 23px;
    border-radius: 27px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.card-image {
    width: 496px;
    height: 524px;
    border-radius: 0 15px 15px 0px;
}
.card-image2 {
    width: 1540px;
    height: 185px;
    border-radius: 0 15px 15px 0px;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
footer p {
    color: #828282;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}
footer i {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;    
 }

 footer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

footer1 p {
  color: #ed1616;
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
}


 